
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>ChangePassword</h2>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <span>Old Password</span>
    <input type="password" name="oldpass" placeholder="Your Old Password" required/><br />
    <span>New Password</span>
    <input type="password" name="newpass" placeholder="Your New Password" required /><br />
    <span>Confirm Password</span>
    <input type="password" name="conpass" placeholder="Your Confirm Password" required /><br />
    @Html.ActionLink("Back", "ViewDetail")
    <button type="submit"> Save</button>
    
}
